.header {
  width: 100%;
  height: 100%;
  border: 0px solid;
}

.container {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  border: 0px solid;
}

.nav__text {
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #5B4A58;
  border: 0px solid;
}
.nav__text .logo1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 40%;
  height: 100%;
  border: 0px solid;
}
.nav__text .logo1 a {
  opacity: 0.9;
  color: white;
  text-decoration: none;
}
.nav__text .logo1 img {
  width: 20px;
}
.nav__text .logo1 span {
  color: #6AAE55;
}
.nav__text .logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30%;
  height: 100%;
  border: 0px solid;
}
.nav__text .logo2 a {
  opacity: 0.9;
  text-decoration: none;
  color: white;
}
.nav__text .logo2 img {
  width: 20px;
}
.nav__text .logo3 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30%;
  height: 100%;
  border: 0px solid;
}
.nav__text .logo3 a {
  opacity: 0.9;
  color: white;
  text-decoration: none;
}

.nav__title {
  width: 100%;
  height: 12%;
  box-shadow: 0px 1px 10px #999;
  border: 0px solid;
}

.nav__title-text {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border: 0px solid;
}
.nav__title-text .nav__title-menu {
  display: none;
}
.nav__title-text .nav__text-a {
  display: flex;
  gap: 30px;
}
.nav__title-text a {
  color: black;
  text-decoration: none;
}
.nav__title-text img {
  width: 50px;
}
.nav__title-text .nav__text-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px solid;
}
.nav__title-text .nav__text-user img {
  width: 30px;
  height: 30px;
}
.nav__title-text .nav__text-pul {
  width: 50px;
  flex-direction: column;
  border: 0px solid;
}
.nav__title-text .nav__text-pul span {
  opacity: 0.7;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
  .nav__text {
    width: 100%;
  }
  .nav__text .logo1 {
    display: none;
  }
  .nav__text .logo2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .nav__text .logo2 .a__text {
    display: none;
  }
  .nav__text .logo3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__title {
    width: 100%;
  }
  .nav__title-text {
    width: 100%;
  }
  .nav__title-text .nav__title-menu {
    display: block;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .nav__title-text .nav__title-menu img {
    width: 35px;
  }
  .nav__title-text .nav__title-menu a {
    font-size: 25px;
    opacity: 0.7;
  }
  .nav__title-text .nav__text-a {
    display: none;
  }
  .nav__title-text .nav__title-logo {
    margin-left: 10px;
    width: 33%;
  }
  .nav__title-text .nav__title-logo img {
    width: 80px;
    height: 50px;
  }
  .nav__title-text .nav__text-label {
    display: none;
  }
  .nav__title-text .nav__text-user {
    display: none;
  }
  .nav__title-text .nav__text-pul {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
